*{
    font-family: 'Roboto Flex', sans-serif;
    margin: 0;
    padding: 0;
    border: none red;
    border-width: 1px;
}

                                        /* PAGINA INICIO*/
::-webkit-scrollbar{
    width:0;
    background-color: rgb(23, 23, 27);
    display: none;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: ;
    height: 100%;
}
nav{
    background-color: rgb(23, 23, 27);
    position: fixed;
    top: 0px;
    left: 0px;

}
.container-fluid{
    background-color: rgb(23, 23, 27);
    display: flex;
    align-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    border-bottom: solid 1px rgb(167, 180, 196);
}
.navbar{
    margin: 0px;
    padding: 0px;
    background-color: rgb(23, 23, 27);
}
.navbar-expand-lg{
    margin:0px;
    padding: 0px;
}
.bg-body-tertiary{
    margin:0px;
    padding: 0px;
}
    .navbar a img{
        width: 70px;
        padding: 5px;
        margin-right: 5px;
    }
        a p{
                color: rgb(167, 180, 196);
                font-size: 14px;
                margin: 0px;
                margin-right: 10px;;

            }



/* -- CUERPO PRINCIPAL -- */

main{
    margin-top: 53px;
    display:flex;
    justify-content: center;
    
   /* border: solid 3px purple;  */
}

                    /* INDEX */
    #contenedor-banner-index{
        display:flex;
        width: 60%;
        background-color: black;
    /* border: solid 2px red;*/

    }
    #contenedor-banner-index img{ 
    /* border: solid 2px yellow;*/
        width:100%;

    }

    #contenedor-texto-index{
        color: aliceblue;
        background-color: black;
        font-size: 16px;
        line-height: 1.5;
        text-align: left;
        padding-right: 30px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 40%;/*
        border: solid 2px blue;*/
    }

        #contenedor-texto-index p{
            font-family: 'Kalam', cursive;
        /*  border: solid 2px green;*/

        }
        #B{
            color: rgb(167, 180, 196);
            font-size: 25px;
            font-style: italic;
            font-family: 'Kalam', cursive;
        }

        #plus{
            color: rgb(255, 222, 77);
            font-size: 25px;
            font-style: italic;
            font-family: 'Kalam', cursive;
        }

        #contenedor-texto-index ul{
            list-style:circle;
            font-size: 18px;
            padding-left: 40px;
        /*  border: solid 2px gray;*/
        }


/*-- N E W S --*/
#contenedor-news-buttons{
    display: flex;
    overflow-x: scroll;
}
    .contenedor-button{
        background-color: rgb(23, 23, 27);
        width: 10px;
    }
    .contenedor-button:hover{
        opacity: .95;
    }
    .contenedor-button button,img{
        width: 100%;
        background-color: rgb(23, 23, 27);
    }
    #contenedor-news{
        margin-bottom: 100px;
        display:flex;
        justify-content: start;
        background-color: rgb(23, 23, 27);
    
    }
        .news{
            width: 200px;
            border: solid .5px rgba(240, 248, 255, 0.318);
            margin: 3px;
        /*  border: solid 2px green;*/
        }
        .news:hover{
            opacity: .5;

        }
        .news a p{
            color: rgba(240, 248, 255, 0.797);
            text-align: right;
            font-size: 12px;
            margin-right: 8px;
            margin-left: 8px;
            padding-top: 8px;
            padding-right: 5px;
            padding-bottom: 8px;
            line-height: 1.3;
            border-top: solid 1px aliceblue;
            /*
            border: solid 2px yellow;*/
        }

                         /* PAGINA CONTACTO */

.main-contact{
    display: flex;
    flex-direction: column;
    flex-direction: center;
    padding-top: 30px;
    background-color: rgb(58, 58, 78);
}
    .main-contact h2{
        text-align: center;
        font-size: 30px;
        color:rgb(167, 180, 196);
    }

.contenedor-contact-redes{
    display:flex;
    justify-content: center;
    margin: 15px;
}
    .contenedor-contact-redes a{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50px;
        margin-left: 12px;
        margin-right: 12px;;
        font-size: 12px;
    }
      .contenedor-contact-redes a p{
        margin-top: 10px;
        color:rgb(167, 180, 196);
        text-align: center;
      }

.contenedor_form{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

                         /* PAGINA SOBRE MI & WORK*/

#main_grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 6fr;
    grid-template-areas: 
    "header header"
    "img1 p1"
    "p2 img2"
    "img3 p3"
    "p4 img4"
    "news news";
}

.grid_header{
    grid-area: header;
    background-color: rgb(23, 23, 27);
    color:aliceblue;
    font-size: 25px;
    padding: 10px; 
    height:100%;
}
.t1_img{
    grid-area: img1;
    height:100%;
} 
.t1_p{
    grid-area: p1;
    background-color: rgb(23, 23, 27);
    color:aliceblue;
    padding: 30px;
    display:flex;
    align-items: center;
    height:100%;
}
.t2_p {
    grid-area: p2;
    background-color: rgb(23, 23, 27);
    color:aliceblue;
    padding: 30px;
    display:flex;
    align-items: center;
    height:100%;
}
.t2_img{
    grid-area: img2;
    height:100%;
}
.t3_img{
    grid-area: img3;
    height:100%;
}
.t3_p{
    grid-area: p3;
    background-color: rgb(23, 23, 27);
    color:aliceblue;
    padding: 30px;
    display:flex;
    align-items: center;
    height:100%;
}
.t4_img{
    grid-area: img4;
    height:100%;
}
.t4_p{
    grid-area: p4;
    background-color: rgb(23, 23, 27);
    color:aliceblue;
    padding: 30px;
    display:flex;
    align-items: center;
    height:100%;
}
.grid_news{
    grid-area: news;
    width:100%;
    display:flex;
    justify-content: center;
}

                        /*-- WEB RESUME --*/

.main_resume{
    background-color:rgb(62, 62, 82);
    display: flex;
    flex-direction: column;
}

.h_resume{
    background-color: rgb(23, 23, 27);
    height:100%;
    padding: 10px;
    padding-left: 15px;
    padding-top: 15px;
    font-size: 25px;
    color:aliceblue;
    display: flex;
    align-content: center;
}

.resume{
    padding-top: 20px;
   padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

                        /*-- FOOTER --*/

#footer_mine{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: rgb(23, 23, 27);
    border-top: solid 1px rgb(167, 180, 196);
    display: flex;
    justify-content: center;

}

.footer-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.footer-icons-a{
    width: 30px;
    margin-right: 10px;
}
.footer-B{
    width: 70px;
    margin-left: 10px;
    margin-right: 10px;
}
.footer-ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-ul-links{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0px;
    padding: 0px;
    list-style: none;
}
.footer-li{
    margin-right: 10px;
    font-size: 12px;
    text-decoration:aliceblue;
}

.footer-a{
    text-decoration:aliceblue;
}