#body_index{
    display: grid;
    align-items: stretch;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 2fr 90px;
    grid-template-areas: 
    "nav"
    "main"
    "footer";
    background: $mainBgColor;
    height: 100vh;
  
   


.main_index{
    grid-area: main;
    display:flex;
    width: 100%;
    background-color: black;



        #contenedor-banner-index{
            background-color: black;

                img{
                    width:100%;
                }
        }

        #contenedor-texto-index{
            font-family: 'Kalam', cursive;
            color: $pColor;
            background-color: black;
            font-size: 16px;
            line-height: 1.5;
            text-align: left;
            padding-right: 30px;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 40%;

                    p{
                        font-family: 'Kalam', cursive;
                        font-size: 15px;
                        margin: 3px;                            
                                
                    }
            }
    }

#p1{
    color:rgb(255, 222, 77);
    background-color:rgb(101, 86, 16) ;
    border-radius: 5px;
    text-align: center;
    list-style: none;
}
#p2{
    color:rgb(152, 175, 255);
    background-color:rgb(17, 32, 104) ;
    border-radius: 5px;
    text-align: center;
}
#p3{
    color:rgb(253, 144, 144);
    background-color:rgb(112, 18, 18) ;
    border-radius: 5px;
    text-align: center;
}
#p4{
    color:rgb(135, 194, 124);
    background-color:rgb(28, 90, 17);
    border-radius: 5px;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
}
#p5{
    color:rgb(120, 250, 200);
    background-color:rgb(17, 92, 63) ;
    border-radius: 5px;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
}
#p6{
    color:rgb(231, 128, 180);
    background-color:rgb(98, 17, 58) ;
    border-radius: 5px;
    text-align: center;
}
#p7{
    color:rgb(255, 163, 77);
    background-color:rgb(97, 56, 17) ;
    border-radius: 5px;
    text-align: center;
}
#B{
    color: $mainColor;
    font-size: 25px;
    font-family: 'Kalam', cursive;
}

#plus{
    color: rgb(255, 222, 77);
    font-size: 25px;
    font-family: 'Kalam', cursive;
}


        /* RESPONSIVE */
@media (width < 850px) {

.main_index{
    grid-area: main;
    display:grid;
    justify-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 2fr;
    grid-template-areas:
    "desk"
    "texto";


#contenedor-banner-index{
    grid-area: desk;
    display:flex;
    align-items: flex-start;
    background-color: black;
    height: 100%;
}

#contenedor-texto-index{
    grid-area: texto;
    width:100vw;
    font-size: 15px;
    padding: 10px;
}
} 
}
}