#body_index{
    display: grid;
    align-items: stretch;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 2fr 80px;
    grid-template-areas: 
    "nav"
    "main"
    "footer";
    background: $mainBgColor;
    height: 100vh;
  
   


.main_index{
    grid-area: main;
    display:flex;
    width: 100%;
    background-color: black;



        #contenedor-banner-index{
            background-color: black;

                img{
                    width:100%;
                }
        }

        #contenedor-texto-index{
            font-family: 'Kalam', cursive;
            color: $pColor;
            background-color: black;
            font-size: 16px;
            line-height: 1.5;
            text-align: left;
            padding-right: 30px;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 40%;

                p{
                    font-family: 'Kalam', cursive;
                    font-size: 15px;

                    ul{ 
                            font-family: 'Kalam', cursive;
                            list-style: circle;
                            padding-left: 40px;
                                
                                li{font-family: 'Kalam', cursive;
                            
                                }
                        }
                }
        }
}


#B{
    color: $mainColor;
    font-size: 25px;
    font-family: 'Kalam', cursive;
}

#plus{
    color: rgb(255, 222, 77);
    font-size: 25px;
    font-family: 'Kalam', cursive;
}





        /* RESPONSIVE */
@media (width < 850px) {

.main_index{
    grid-area: main;
    display:grid;
    justify-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 2fr;
    grid-template-areas:
    "desk"
    "texto";


#contenedor-banner-index{
    grid-area: desk;
    display:flex;
    align-items: flex-start;
    background-color: black;
    height: 100%;
}

#contenedor-texto-index{
    grid-area: texto;
    width:100vw;
    font-size: 15px;
    padding: 10px;
}
} 
}
}