nav{
    grid-area: nav;
    background-color: $mainBgColor;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3;
    margin: 0px;
    padding: 0px;
    width: 100%;

    .container-fluid{
        background-color: $mainBgColor;
        display: flex;
        align-content: center;
        position: fixed;
        top: 0px;
        left: 0px;
        border-bottom: none;
    }
}

.navbar{
    margin: 0px;
    padding: 0px;
    background-color: $mainBgColor;

    a{
        img{
            width: 70px;
            padding: 5px;
            margin-right: 5px;
        }
        p{
            color: $mainColor;
            font-size: 14px;
            margin: 0px;
            margin-right: 10px;
        }
    }
}
.navbar-expand-lg{
    margin:0px;
    padding: 0px;
}
.bg-body-tertiary{
    margin:0px;
    padding: 0px;
}

#nav-index{
    border-bottom: $yellowBorder;
}