$sectionBorder: solid 1px rgb(167, 180, 196);
$mainBgColor: rgb(23, 23, 27);
$secondaryBgColor: rgb(62, 62, 82);
$mainColor: rgb(167, 180, 196);
$secondaryColor:rgb(51, 55, 67);
$headingColor:rgb(184, 153, 68);
$yellowBorder: solid 1px rgb(184, 153, 68);
$pColor: aliceblue;
$headingSize: 21px;
$kalamFont: 'Kalam', cursive;