@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");
nav {
  grid-area: nav;
  background-color: rgb(23, 23, 27);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
nav .container-fluid {
  background-color: rgb(23, 23, 27);
  display: flex;
  align-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  border-bottom: none;
}

.navbar {
  margin: 0px;
  padding: 0px;
  background-color: rgb(23, 23, 27);
}
.navbar a img {
  width: 70px;
  padding: 5px;
  margin-right: 5px;
}
.navbar a p {
  color: rgb(167, 180, 196);
  font-size: 14px;
  margin: 0px;
  margin-right: 10px;
}

.navbar-expand-lg {
  margin: 0px;
  padding: 0px;
}

.bg-body-tertiary {
  margin: 0px;
  padding: 0px;
}

#nav-index {
  border-bottom: solid 1px rgb(184, 153, 68);
}

#footer_mine {
  grid-area: footer;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(23, 23, 27);
  border-top: solid 1px rgb(184, 153, 68);
  border-bottom: none;
}
#footer_mine .footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
#footer_mine .footer-icons .footer-icons-a {
  width: 30px;
  margin-right: 10px;
}
#footer_mine .footer-icons .footer-B {
  width: 70px;
  margin-left: 10px;
  margin-right: 10px;
}

.contenedor-button button, img {
  width: 100%;
  background-color: rgb(23, 23, 27);
}

#news {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(62, 62, 82);
}
#news #novedades {
  color: rgb(184, 153, 68);
  background-color: rgb(51, 55, 67);
  width: 100%;
  padding: 5px;
  padding-left: 20px;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 0;
  border-bottom: solid 1px rgb(167, 180, 196);
}
#news .carousel {
  width: 50%;
  font-size: 15px;
}
#news .carousel h5 {
  font-size: 20px;
}

#body_index {
  display: grid;
  align-items: stretch;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 2fr 90px;
  grid-template-areas: "nav" "main" "footer";
  background: rgb(23, 23, 27);
  height: 100vh;
  /* RESPONSIVE */
}
#body_index .main_index {
  grid-area: main;
  display: flex;
  width: 100%;
  background-color: black;
}
#body_index .main_index #contenedor-banner-index {
  background-color: black;
}
#body_index .main_index #contenedor-banner-index img {
  width: 100%;
}
#body_index .main_index #contenedor-texto-index {
  font-family: "Kalam", cursive;
  color: aliceblue;
  background-color: black;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
}
#body_index .main_index #contenedor-texto-index p {
  font-family: "Kalam", cursive;
  font-size: 15px;
  margin: 3px;
}
#body_index #p1 {
  color: rgb(255, 222, 77);
  background-color: rgb(101, 86, 16);
  border-radius: 5px;
  text-align: center;
  list-style: none;
}
#body_index #p2 {
  color: rgb(152, 175, 255);
  background-color: rgb(17, 32, 104);
  border-radius: 5px;
  text-align: center;
}
#body_index #p3 {
  color: rgb(253, 144, 144);
  background-color: rgb(112, 18, 18);
  border-radius: 5px;
  text-align: center;
}
#body_index #p4 {
  color: rgb(135, 194, 124);
  background-color: rgb(28, 90, 17);
  border-radius: 5px;
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
}
#body_index #p5 {
  color: rgb(120, 250, 200);
  background-color: rgb(17, 92, 63);
  border-radius: 5px;
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
}
#body_index #p6 {
  color: rgb(231, 128, 180);
  background-color: rgb(98, 17, 58);
  border-radius: 5px;
  text-align: center;
}
#body_index #p7 {
  color: rgb(255, 163, 77);
  background-color: rgb(97, 56, 17);
  border-radius: 5px;
  text-align: center;
}
#body_index #B {
  color: rgb(167, 180, 196);
  font-size: 25px;
  font-family: "Kalam", cursive;
}
#body_index #plus {
  color: rgb(255, 222, 77);
  font-size: 25px;
  font-family: "Kalam", cursive;
}
@media (width < 850px) {
  #body_index .main_index {
    grid-area: main;
    display: grid;
    justify-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 2fr;
    grid-template-areas: "desk" "texto";
  }
  #body_index .main_index #contenedor-banner-index {
    grid-area: desk;
    display: flex;
    align-items: flex-start;
    background-color: black;
    height: 100%;
  }
  #body_index .main_index #contenedor-texto-index {
    grid-area: texto;
    width: 100vw;
    font-size: 15px;
    padding: 10px;
  }
}

.main_grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 6fr;
  grid-template-areas: "header header" "img1 p1" "p2 img2" "img3 p3" "p4 img4";
}

.grid_header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(184, 153, 68);
  background-color: rgb(51, 55, 67);
  border-bottom: solid 1px rgb(184, 153, 68);
  font-size: 21px;
  letter-spacing: 1px;
  padding-left: 10px;
  height: 100%;
  position: fixed;
  top: 70px;
  width: 100%;
  height: 50px;
}

.t1_img {
  grid-area: img1;
  width: 100%;
  padding-bottom: 50px;
  margin-top: 100px;
}

.t1_p {
  grid-area: p1;
  background-color: rgb(23, 23, 27);
  color: aliceblue;
  padding: 30px;
  display: flex;
  align-items: center;
  height: 100%;
  margin-top: 50px;
  padding-bottom: 50px;
}

.t2_p {
  grid-area: p2;
  background-color: rgb(23, 23, 27);
  color: aliceblue;
  padding: 30px;
  display: flex;
  align-items: center;
  height: 100%;
}

.t2_img {
  grid-area: img2;
  height: 100%;
}

.t3_img {
  grid-area: img3;
  height: 100%;
}

.t3_p {
  grid-area: p3;
  background-color: rgb(23, 23, 27);
  color: aliceblue;
  padding: 30px;
  display: flex;
  align-items: center;
  height: 100%;
}

.t4_img {
  grid-area: img4;
  height: 100%;
}

.t4_p {
  grid-area: p4;
  background-color: rgb(23, 23, 27);
  color: aliceblue;
  padding: 30px;
  display: flex;
  align-items: center;
  height: 100%;
}

/* RESPONSIVE WORK ABOUTME*/
@media (width < 680px) {
  .main_grid {
    width: 100%;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8fr;
    grid-template-areas: "img1" "p1" "img2" "p2" "img3" "p3" "img4" "p4";
  }
  .t1_img {
    grid-area: img1;
    margin: 0px;
    padding: 0px;
  }
  .t1_p {
    grid-area: p1;
    margin: 0px;
    padding: 30px;
    padding-top: 0px;
    text-align: start;
    border-bottom: solid 1px rgb(184, 153, 68);
  }
  .t2_img {
    grid-area: img2;
    margin: 0px;
    padding: 0px;
  }
  .t2_p {
    grid-area: p2;
    margin: 0px;
    padding: 30px;
    padding-top: 0px;
    text-align: end;
    border-bottom: solid 1px rgb(184, 153, 68);
  }
  .t3_img {
    grid-area: img3;
    margin: 0px;
    padding: 0px;
  }
  .t3_p {
    grid-area: p3;
    margin: 0px;
    padding: 30px;
    padding-top: 0px;
    text-align: start;
    border-bottom: solid 1px rgb(184, 153, 68);
  }
  .t4_img {
    grid-area: img4;
    margin: 0px;
    padding: 0px;
  }
  .t4_p {
    grid-area: p4;
    margin: 0px;
    padding: 30px;
    padding-top: 0px;
    text-align: end;
  }
}
.main_resume {
  background-color: rgb(62, 62, 82);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 65px;
}
.main_resume .h_resume {
  background-color: rgb(51, 55, 67);
  border-bottom: solid 1px rgb(184, 153, 68);
  width: 100%;
  padding: 10px;
  padding-top: 10px;
  color: rgb(184, 153, 68);
  letter-spacing: 2px;
  font-size: 21px;
  display: flex;
  align-content: center;
  justify-content: center;
  position: fixed;
  top: 70px;
}
.main_resume .resume {
  padding-top: 60px;
  padding-bottom: 30px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: center;
}
.main_resume .resume img {
  width: 100%;
}

#body_contact {
  display: grid;
  align-items: stretch;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 2fr 90px;
  grid-template-areas: "nav" "main" "footer";
  height: 100vh;
}
#body_contact .main-contact {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(62, 62, 82);
  margin: 0px;
  padding: 0px;
}
#body_contact .main-contact h2 {
  width: 100%;
  text-align: center;
  font-size: 21px;
  letter-spacing: 1px;
  color: rgb(184, 153, 68);
  background-color: rgb(51, 55, 67);
  border-bottom: solid 1px rgb(184, 153, 68);
  padding-top: 10px;
  padding-bottom: 10px;
}
#body_contact .main-contact .contenedor-contact-redes {
  display: flex;
  justify-content: center;
  margin: 15px;
}
#body_contact .main-contact .contenedor-contact-redes a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
  margin-left: 12px;
  margin-right: 12px;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
}
#body_contact .main-contact .contenedor-contact-redes a p {
  margin-top: 10px;
  color: rgb(167, 180, 196);
  text-align: center;
  text-decoration: none;
  margin-right: 0px;
}
#body_contact .main-contact .contenedor-contact-redes a p:hover {
  color: rgb(107, 107, 141);
  text-decoration: underline;
}
#body_contact .main-contact .contenedor-contact-redes a img {
  background-color: rgb(62, 62, 82);
}
#body_contact .main-contact .contenedor-contact-redes a img:hover {
  opacity: 0.7;
}
#body_contact .contenedor_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}
#body_contact .contenedor_form #boton_enviar {
  display: flex;
  justify-content: center;
  background-color: rgb(62, 62, 82);
  border: none;
  color: rgb(167, 180, 196);
  padding: 10px;
  font-size: 18px;
}
#body_contact .contenedor_form #boton_enviar:hover {
  text-decoration: underline;
  background-color: rgb(62, 62, 82);
  color: rgb(167, 180, 196);
}
#body_contact .contenedor_form #boton_enviar img {
  background-color: rgb(62, 62, 82);
  margin-left: 10px;
  width: 25px;
  border: none;
}
#body_contact .contenedor_form #boton_enviar img:hover {
  opacity: 0.7;
}
#body_contact .contenedor_form #boton_enviar input {
  background-color: rgb(62, 62, 82);
  color: rgb(184, 153, 68);
  border: none;
}
#body_contact .contenedor_form #boton_enviar input:hover {
  opacity: 0.7;
}

* {
  font-family: "Roboto Flex", sans-serif;
  margin: 0px;
  padding: 0px;
  height: auto;
}

/*# sourceMappingURL=main.css.map */
